<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{resultSummary.term}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page8">
  <ion-list>
  <ion-item *ngFor="let avg of resultSummary.averages">
    <ion-avatar item-start>
      <ion-badge color="secondary" *ngIf="avg.averageMark*20/avg.maxMark>=10">{{avg.averageMark| number : '1.2-2'}}/{{avg.maxMark}}</ion-badge>
      <ion-badge color="danger" *ngIf="avg.averageMark*20/avg.maxMark<10">{{avg.averageMark| number : '1.2-2'}}/{{avg.maxMark}}</ion-badge>
    </ion-avatar>
    <h2>{{avg.subjectName}}</h2>
    <h3>Moy. classe: 
          <ion-badge color="secondary" *ngIf="avg.classMark*20/avg.maxMark>=10">{{avg.classMark| number : '1.2-2' }}</ion-badge>
          <ion-badge color="danger" *ngIf="avg.classMark*20/avg.maxMark<10">{{avg.classMark| number : '1.2-2' }}</ion-badge> 
          <br/>
          Note. Final: 
          <ion-badge color="secondary" *ngIf="avg.examMark*20/avg.maxMark>=10">{{avg.examMark| number : '1.2-2' }}</ion-badge>
          <ion-badge color="danger" *ngIf="avg.examMark*20/avg.maxMark<10">{{avg.examMark| number : '1.2-2' }}</ion-badge> 
    </h3>
    <p>Prof: {{avg.teacherFirstName +' '+avg.teacherLastName}}</p>
  </ion-item>
</ion-list>
</ion-content>