<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Absenses
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">
  <form id="absenses-form5">
    <ion-item id="absenses-select4">
      <ion-label>
        Annee
      </ion-label>
      <ion-select [(ngModel)]="year" multiple="false" name="year" (ionChange)="getUserSchoolings()"> 
	     <ion-option *ngFor="let aYear of years" [value]="aYear">{{aYear.year}}</ion-option>
	  </ion-select>
    </ion-item>
  </form>
  
  <ion-list id="absenses-list">
  	<ion-item *ngFor="let schooling of schoolings" id="{{schooling.id}}" (click)="goToSchooling(schooling.id)">
      	<div class = "col">{{schooling.eventDate}} | {{schooling.eventType}}</div>
    </ion-item>
  </ion-list>
</ion-content>