<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Kiosk Inscrit
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7" [ngClass]="{'bg-col': changeColor}">
  <form id="profile-form2">

    <ion-list id="profile-list3">
      <ion-item id="profile-input3">
        <ion-label>
          Matricule
        </ion-label>
        <ion-input type="text" placeholder="" name="matricule" [(ngModel)]="cico.matricule" #matricule="ngModel"> </ion-input>
      </ion-item>
    </ion-list>
    <button id="profile-button3" ion-button color="stable" block (click)="doCico()">
      Enregistrer
    </button>
    <ion-card>
      <ion-card-header>
        <button ion-button color="danger" full  *ngIf="aUser.cicoStatus===0||aUser.cicoStatus===6||aUser.cicoStatus===7">
           <strong>{{msg}}</strong> 
        </button>
        <button ion-button color="secondary" full  *ngIf="aUser.cicoStatus===1">
           <strong>{{msg}}</strong> 
        </button>
        <button ion-button color="primary" full  *ngIf="aUser.cicoStatus===2">
          <strong>{{msg}}</strong> 
        </button>
        <button ion-button color="dark" full  *ngIf="aUser.cicoStatus===3">
           <strong>{{msg}}</strong> 
        </button>
        <button ion-button color="light" full  *ngIf="aUser.cicoStatus===4">
           <strong>{{msg}}</strong> 
        </button>
      </ion-card-header>
      <ion-card-content back>
        <ion-avatar item-start>
        <ion-thumbnail item-start>
          <img src="{{url}}/assets/images/user/{{aUser.pic}}" alt="" />
        </ion-thumbnail>
        </ion-avatar>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
