<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Kiosk Visiteur
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7">
  <form id="profile-form2">
    <ion-list id="profile-list3">

      <ion-item id="profile-input3">
        <ion-label>
          Nom & Prenom <font color="red">*</font>
        </ion-label>
        <ion-input type="text" placeholder="" name="name" [(ngModel)]="cico.name"> </ion-input>
      </ion-item>

      <ion-item id="profile-input6">
        <ion-label>
          Tel.
        </ion-label>
        <ion-input type="text" placeholder="" name="phone" [(ngModel)]="cico.phone"></ion-input>
      </ion-item>

      <ion-item id="profile-input7">
        <ion-label>
          Raison <font color="red">*</font>
        </ion-label>
        <ion-input type="text" placeholder="" name="raison" [(ngModel)]="cico.reason"> </ion-input>
      </ion-item>

      <ion-item id="profile-input4">
        <ion-label>
          Personne visitee <font color="red">*</font>
        </ion-label>
        <ion-input type="text" placeholder="" name="visitee" [(ngModel)]="cico.visitee"> </ion-input>
      </ion-item>

      <ion-item id="profile-input4">
        <ion-label>
          Badge <font color="red">*</font>
        </ion-label>
        <ion-input type="text" placeholder="" name="matricule" [(ngModel)]="cico.matricule"> </ion-input>
      </ion-item>

    </ion-list>
    <button id="profile-button3" ion-button color="stable" block (click)="doCico()">
      Enregistrer
    </button> 
    <ion-card>
      <ion-card-header>
         <button ion-button color="danger" full *ngIf="error">
          <strong>{{error}}</strong>
        </button>
        <button ion-button color="danger" full *ngIf="aUser.cicoStatus==0">
          <strong>{{msg}}</strong>
        </button>
        <button ion-button color="secondary" full *ngIf="aUser.cicoStatus===1">
          <strong>{{msg}}</strong>
        </button>
        <button ion-button color="primary" full *ngIf="aUser.cicoStatus===2">
          <strong>{{msg}}</strong>
        </button>
        <button ion-button color="dark" full *ngIf="aUser.cicoStatus===3">
          <strong>{{msg}}</strong>
        </button>
        <button ion-button color="light" full *ngIf="aUser.cicoStatus===4">
          <strong>{{msg}}</strong>
        </button>
      </ion-card-header>
      <ion-card-content back> 
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
