<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>        
       <a href="" on-click="goToMain()"> <img   src="{{url}}/assets/images/logo.png" alt="ScoolDay" /> </a>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu21">
    <ion-list id="scoolDay-list1">
      <ion-item color="positive" menuClose="" on-click="goToMain()" id="scoolDay-list-item1" *ngIf="user.id>0">
        Accueil
        <ion-icon name="home" item-right></ion-icon>
      </ion-item>
      <ion-item color="positive" menuClose="" on-click="goToConnexion()" id="scoolDay-list-item1" *ngIf="!user.id>0">
        Connexion
        <ion-icon name="log-in" item-right></ion-icon>
      </ion-item>
      <ion-item color="assertive" href-inappbrowser="/logout" id="scoolDay-list-item2" *ngIf="user.id>0">
        Deconnexion
        <ion-icon name="log-out" item-right (click)="logout()"></ion-icon>
      </ion-item>
      <ion-item color="positive" menuClose="" on-click="goToProfile()" id="scoolDay-list-item3" *ngIf="user.id>0">
        Profile
        <ion-icon name="create" item-right></ion-icon>
      </ion-item>
      <ion-item color="positive" menuClose="" on-click="goToConfiguration()" id="scoolDay-list-item32">
        Configuration
        <ion-icon name="settings" item-right></ion-icon>
      </ion-item>
      
            <ion-item color="positive" menuClose="" on-click="goToStudent()" id="scoolDay-list-item1" *ngIf="user.id>0 && user.role==4">
        Choisir un enfant
        <ion-icon name="people" item-right></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>