<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Payements
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <form id="notes-form3">
    <ion-item id="notes-select1">
      <ion-label>
        Annee
      </ion-label>
     <ion-select [(ngModel)]="year" multiple="false" name="year" (ionChange)="getPaymentGraph()"> 
       <ion-option *ngFor="let aYear of years" [value]="aYear">{{aYear.year}}</ion-option>
    </ion-select>
    </ion-item>

  </form>
  <p-chart type="bar" [data]="data" (onDataSelect)="getTuitions($event)"></p-chart>
  <ion-list> 
  <ion-item *ngFor="let tuition of tuitions">
    <ion-avatar item-start>
      <ion-badge color="secondary" *ngIf="tuition.balance<=0">{{tuition.dueDate| date:'dd/MM/yy' }}</ion-badge>
      <ion-badge color="primary" *ngIf="tuition.balance>0">{{tuition.dueDate| date:'dd/MM/yy' }}</ion-badge>
    </ion-avatar>
    <h2>{{tuition.name}}</h2>
    <h3>Reste a payer: <ion-badge color="secondary" *ngIf="tuition.balance<=0">{{tuition.balance}}</ion-badge>
    <ion-badge color="danger" *ngIf="tuition.balance>0">{{tuition.balance}}</ion-badge> 
  
    </h3>
    <p>Total du: <ion-badge color="secondary">{{tuition.amount}}</ion-badge>    
    	<br/>Paye: <ion-badge color="secondary">{{tuition.paid}}</ion-badge>   
    	<br/>Remise: <ion-badge color="secondary">{{tuition.rebate}}</ion-badge>   
    </p>
  </ion-item>
</ion-list>
</ion-content>