<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Payements classe
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <ion-list> 
  <ion-item *ngFor="let tuition of tuitions">
    <h2>{{tuition.name}}</h2>
    <h3>Reste: <ion-badge color="secondary" *ngIf="tuition.balance<=0">{{tuition.balance |number :'1.0-2'}}</ion-badge>
    <ion-badge color="danger" *ngIf="tuition.balance>0">{{tuition.balance |number :'1.0-2'}}</ion-badge> sur <ion-badge color="secondary">{{tuition.amount|number :'1.0-2'}}</ion-badge> 
    </h3>
    <p>Paye: <ion-badge color="secondary">{{tuition.paid|number :'1.0-2'}}</ion-badge>      
    	 Remise: <ion-badge color="secondary">{{tuition.rebate|number :'1.0-2'}}</ion-badge>   
    </p>
    </ion-item>
</ion-list>
</ion-content>