<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Configuration
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page10">
  <form id="configuration-form6">
    <ion-list id="configuration-list10">
      <ion-item id="configuration-input8">
        <ion-label>
          URL
        </ion-label>
        <ion-input type="text" placeholder="http://www.scoolday.com" name="url" [(ngModel)]="url"></ion-input>
      </ion-item>
    </ion-list>

  </form>
  <button id="configuration-button5" ion-button color="positive" block (click)="test()">
    Tester
  </button>
  <button id="configuration-button6" ion-button color="positive" block (click)="save()">
    Sauvegarder
  </button>
  
      <button ion-button color="danger" clear *ngIf="error">{{error}}</button>
    <button ion-button color="secondary" clear *ngIf="msg">{{msg}}</button>
</ion-content>